extends layout

// two cols. left is an array of announcement cards, toggleable state.
// right is a set of buttons: Visible -> Queued, Queued -> Visible, Visible -> Archived, Delete Archived
block content
  .container
    .row#contentrow
      div.queuehidden
          a(href="/admin")
            p New announcements available -- reload!
      .col-sm-9
        - var i = -3;
            while i <= announcements.length
              - i += 3;
              .row
                each ann in announcements.slice(i, i+3)
                  .col-md-3
                    if ann.status == "visible"
                      - var ann_class = 'visible'
                      - var toggle_to = 'queued'
                    else
                      - var ann_class = 'queued'
                      - var toggle_to = 'visible'
                    div(class=ann_class, class='announcement')
                      img.admin.ann_comps(src="#{ann.image_url}")
                      p.ann_comps= ann.username
                      p.ann_comps= ann.announcement
                      p.ann_comps= ann.url
                      a(href="/admin?toggle=#{ann._id}&to=#{toggle_to}")
                        span.boxlink

      .col-sm-3.sidebar
        p Change all:
        button.btn.btn-default.btn-lg.btn-block(type="button", onclick="location.href='/adminbtn?from=queued&to=visible'") Queued -> Visible
        button.btn.btn-default.btn-lg.btn-block(type="button", onclick="location.href='/adminbtn?from=visible&to=queued'") Visible -> Queued
        button.btn.btn-default.btn-lg.btn-block(type="button", onclick="location.href='/adminbtn?from=visible&to=archived'") Visible -> Archived
        button.btn.btn-default.btn-lg.btn-block(type="button", onclick="location.href='/adminbtn?from=archived&to=queued'") Archived -> Queued
        button.btn.btn-default.btn-lg.btn-block(type="button", onclick="location.href='/adminbtn?from=archived&to=deleted'") Delete Archived
        
                      
  