extends layout

// a form, partially pre-populated by the server, with the message to queue
block content
  form(name="annform", action="/submit", method="post")
    div(class='annform')
      p.
        Enter your announcement to be queued!
      div(class='announcement')
        img.admin.ann_comps(src="#{memberphotourl}")
        p.ann_comps.speaker_name= membername
        input(type="hidden", name="membername", value="#{membername}") 
        input(type="hidden", name="memberurl", value="#{memberurl}")
        input(type="hidden", name="memberphotourl", value="#{memberphotourl}")
        p.ann_comps.speaker_message
          textarea(name="announcement", placeholder="Announcement (80 chars or less)", rows=5, cols=25, wrap="soft", required, maxlength=80) 
        p.ann_comps.speaker_url
          input(type="url", name="url", placeholder="URL (optional)", size=35)
      input.submitbtn(type="submit", value="Queue") 