extends layout

block content
  -if (messages != '')
    div.alert.alert-success.alert-dismissable
      button.close(type="button", data-dismiss="alert", aria-hidden="true")
        &times;
      p= messages
  -if (warnings != '')
    div.alert.alert-danger.alert-dismissable
      button.close(type="button", data-dismiss="alert", aria-hidden="true")
        &times;
      p= warnings

  .container
    .row
      - var i = -3;
          while i <= announcements.length
            - i += 3;
            .row
              each ann in announcements.slice(i, i+3)
                .col-md-4
                  div(class='announcement')
                    a(href="#{ann.userurl}")
                      img.admin(src="#{ann.image_url}")
                      p= ann.username
                    p= ann.announcement
                    a(href="#{ann.url}")
                      p= ann.url

