extends layout

block content
  -for message in messages
    -if (message != '')
      div.alert.alert-success.alert-dismissable
        button.close(type="button", data-dismiss="alert", aria-hidden="true")
          | &times;
        p= message
  -for warning in warnings
    -if (warning != '')
      div.alert.alert-danger.alert-dismissable
        button.close(type="button", data-dismiss="alert", aria-hidden="true")
          | &times;
        p= warning

  .container
    .row
      -if (announcements.length < 1)
        div(class='noannouncements')
          h3 Watch this space for announcements!
      -else
        - var i = -3;
            while i <= announcements.length
              - i += 3;
              .row
                each ann in announcements.slice(i, i+3)
                  .col-md-4
                    div(class='announcement')
                      a(href="#{ann.userurl}")
                        img.admin.ann_comps(src="#{ann.image_url}")
                        p.ann_comps.speaker_name= ann.username
                      p.ann_comps.speaker_message= ann.announcement
                      a(href="#{ann.url}" title="#{ann.clickthroughs} clickthroughs" onclick="return client.trackExternalLink(event, 'visit_ann_url', {'id' : '#{ann._id}', 'url' : '#{ann.url}'});")
                        p.ann_comps.speaker_url= ann.url


