extends layout

block content
  -if (messages != '')
    div.alert.alert-success.alert-dismissable
      button.close(type="button", data-dismiss="alert", aria-hidden="true")
        | &times;
      p= messages
  -if (warnings != '')
    div.alert.alert-danger.alert-dismissable
      button.close(type="button", data-dismiss="alert", aria-hidden="true")
        | &times;
      p= warnings

  .container
    .row
      -if (announcements.length < 1)
        div(class='noannouncements')
          h3 Watch this space for announcements!
      -else
        - var i = -3;
            while i <= announcements.length
              - i += 3;
              .row
                each ann in announcements.slice(i, i+3)
                  .col-md-4
                    div(class='announcement')
                      a(href="#{ann.userurl}")
                        img.admin.ann_comps(src="#{ann.image_url}")
                        p.ann_comps.speaker_name= ann.username
                      p.ann_comps.speaker_message= ann.announcement
                      a(href="#{ann.url}")
                        div(class='speaker_url_div')
                          p.ann_comps.speaker_url= ann.url

