doctype html
html
  head
    title= title
    meta(name='viewport', content='initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width')
    link(rel='stylesheet', href='/announcement/css/announcement.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://code.jquery.com/jquery-1.10.1.min.js")
    script(src="http://code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js")
    script(src="/socket.io/socket.io.js")
    script.
      !function(a,b){if(void 0===b[a]){b["_"+a]={},b[a]=function(c){b["_"+a].clients=b["_"+a].clients||{},b["_"+a].clients[c.projectId]=this,this._config=c},b[a].ready=function(c){b["_"+a].ready=b["_"+a].ready||[],b["_"+a].ready.push(c)};for(var c=["addEvent","setGlobalProperties","trackExternalLink","on"],d=0;d<c.length;d++){var e=c[d],f=function(a){return function(){return this["_"+a]=this["_"+a]||[],this["_"+a].push(arguments),this}};b[a].prototype[e]=f(e)}var g=document.createElement("script");g.type="text/javascript",g.async=!0,g.src="https://d26b395fwzu5fz.cloudfront.net/3.0.5/keen.min.js";var h=document.getElementsByTagName("script")[0];h.parentNode.insertBefore(g,h)}}("Keen",this);

      // Configure the Keen object with your Project ID and (optional) access keys.
      var client = new Keen({
        projectId: "#{keenProjID}",
        writeKey: "#{keenWriteKey}"
      });
    script.
      var socket = io.connect("#{host}");
      socket.on('reload', function (data) {
        //console.log("current URL: " + document.URL + " -- " + document.URL.match("toggle"))
        if (document.URL.match("toggle")) {
          console.log("ignoring a reload request becuase I'm in the middle of a toggle!")
        } else {
          console.log("reloading per server: " + data);
          window.location.reload();
        }   
      });
      socket.on('queued', function(data) {
        console.log("unhiding new queued announcements message per server: " + data);
        $(".queuehidden").css("display", "block");
      });

  body
    nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
      div.navbar-header
        button.navbar-toggle(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="/")
          img#navlogo(src="/yellout-45high.png")
          p#navtitle= title
      div.collapse.navbar-collapse.navbar-right#bs-example-navbar-collapse-1
        ul.nav.navbar-nav
          li
            //button(class="btn btn-danger nav__announce" target="_blank" onclick="window.open('#{announceuri}', '_blank');") Announce
            button(class="btn btn-danger nav__announce" onclick="window.location.href='/announce'") Announce
            //a(href="/submit") Announce
          li(class=page === "admin" ? "active" : undefined)
            a(href="/admin") Admin
          li(class=page === "about" ? "active" : undefined)
            a(href="/about") About

    block content
