doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css')
    script(src="http://code.jquery.com/jquery-1.10.1.min.js")
    script(src="http://code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js")
    script(src="/socket.io/socket.io.js")
    script.
      var socket = io.connect("#{host}");
      socket.on('reload', function (data) {
        console.log("reloading per server: " + data);
        window.location.reload();
      });

  body
    nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
      div.navbar-header
        button.navbar-toggle(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="/")= title
      div.collapse.navbar-collapse.navbar-right#bs-example-navbar-collapse-1
        ul.nav.navbar-nav
          li
            a(href="#{announceuri}" target="_blank") Announce
          li(class=page === "admin" ? "active" : undefined)
            a(href="/admin") Admin
          li(class=page === "about" ? "active" : undefined)
            a(href="/about") About

    block content
